/* Styles for all pages */
body {
    font-family: Quicksand, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

header {
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: Lobster, sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 3em;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.nav-list li a:focus {
    outline: 2px solid #fff;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 1vw;
}

body.index-page {
    background: rgba(0, 0, 0, 0.1) url("images/table-served.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Form Styles */
.form-section {
    width: 40%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    text-align: center;
}

.form-section form {
    margin-top: 20px;
}

.form-section form label {
    display: block;
    margin-bottom: 5px;
}

.form-section form input[type="text"],
.form-section form input[type="password"],
.form-section form input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-section form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-section form button:hover {
    background-color: #45a049;
}

.form-section p {
    text-align: center;
    margin-top: 10px;
}

.form-section p a {
    color: #4CAF50;
    text-decoration: none;
}

.form-section p a:hover {
    text-decoration: underline;
}

/* User Profile Styles */
.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-info {
    background-image: url(images/raw-ingredients.jpg);
    background-size: cover;
    background-position: cover;
    margin: 0;
}

.user-info h2 {
    font-size: 1.8em;
    margin: 10px 0 10px 40px;
    color: white
}

.user-info div {
    margin: 0 0 15px 20px;
}

.user-info h3 {
    font-size: 1.2em;
    margin: 0 0 5px 20px;
    color: white;
}

.user-info p {
    font-size: 1em;
    color: white;
    margin: 0 0 0 20px;
}
/* Recipes Search Styles */
.recipe-search-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.section-title {
    font-size: 2.5em; 
    margin-bottom: 10px;
    text-align: left;
    margin-left: 20px;
}

.category-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
    flex-wrap: wrap;
}

.category-buttons .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 1 1 20%;
}

.category-buttons button {
    width: 100%;
    padding-bottom: 100%;
    border: none;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.category-buttons .mainbutton-text {
    margin-top: 10px;
    font-size: 2em;
    text-align: center;
}

.apptizer-btn {
    background-image: url(images/appetizer.jpg);
}

.main-btn {
    background-image: url(images/main.jpg);
}

.side-btn {
    background-image: url(images/side.jpg);
}

.dessert-btn {
    background-image: url(images/dessert.jpg);
}

.ingredient-buttons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.ingredient-buttons .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient-buttons button {
    width: 100%;
    padding-bottom: 100%; 
    border: none;
    border-radius: 50%; 
    background-size: cover;
    background-position: center;
}

.ingredient-buttons .ingredientbutton-text {
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

.meat-btn {
    background-image: url(images/meat.jpg);
}

.carbveggie-btn {
    background-image: url(images/carbveggie.png);
}

.sweet-btn {
    background-image: url(images/sweet.jpg);
}

.fruit-btn {
    background-image: url(images/fruit.jpg);
}
